<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>
    <%# Auto-registration enabled: React on Rails will automatically load component bundles %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
